workflows/email-sugar-agent-v3-fixed.json
{
  "name": "Email SUGAR Agent v3 FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-email",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Store email data in clean format\nconst emailFrom = $json.emailFrom || $json.from || 'unknown';\nconst emailSubject = $json.emailSubject || $json.subject || '(no subject)';\nconst emailBody = $json.emailBody || $json.body || '';\n\nif (!emailBody) {\n  throw new Error('Email body is required');\n}\n\nreturn [{ \n  json: { \n    emailFrom,\n    emailSubject,\n    emailBody\n  } \n}];"
      },
      "id": "prepare",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build OpenRouter API request\nconst systemPrompt = `You are Emilian's email assistant using the SUGAR framework.\n\nYour brand voice:\n- Professional yet approachable (formality: 4.5/10)\n- Concise and direct - respect others' time\n- Detail-oriented with structured bullet points\n- Ask smart questions before prescribing solutions\n- Data-grounded, no hype or buzzwords\n- Sign with 'Thanks, Emilian' or just 'Emilian'\n\nExpand Health voice:\n- Evidence-based longevity and health optimization\n- Accessible explanations of complex health concepts\n- Focus on actionable protocols and measurable results\n\nDraft a response following SUGAR:\nS - Acknowledge their situation\nU - Show understanding of their needs\nG - Provide clear, structured guidance\nA - Specify next steps\nR - Close with reassurance and availability\n\nOutput ONLY the email draft, ready to send.`;\n\nconst userPrompt = `Draft a response to this email:\n\nFrom: ${$json.emailFrom}\nSubject: ${$json.emailSubject}\n\nBody:\n${$json.emailBody}`;\n\nconst requestBody = {\n  model: \"anthropic/claude-3.5-sonnet\",\n  temperature: 0.2,\n  messages: [\n    {\n      role: \"system\",\n      content: systemPrompt\n    },\n    {\n      role: \"user\",\n      content: userPrompt\n    }\n  ]\n};\n\nreturn [{ json: requestBody }];"
      },
      "id": "build-request",
      "name": "Build API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "openrouter",
      "name": "Call OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $json;\nconst emailData = $('Prepare Email Data').first().json;\n\nif (response.error) {\n  return [{ json: { status: 'ERROR', error: response.error.message } }];\n}\n\nconst draftedEmail = response.choices?.[0]?.message?.content || '';\n\nreturn [{ \n  json: { \n    status: 'SUCCESS',\n    originalEmail: emailData,\n    draftedResponse: draftedEmail,\n    model: response.model,\n    tokensUsed: response.usage?.total_tokens || 0\n  } \n}];"
      },
      "id": "format",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Build API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Request": {
      "main": [
        [
          {
            "node": "Call OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
