workflows/gemini-create-store-v1-WORKING.json
{
  "name": "Gemini File Search - Create Store (WORKING)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-create-store",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "Webhook",
      "name": "Webhook /kb-create-store",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { apiKey, storeName, displayName } = $json;\nif (!apiKey) return [{ json: { status: 'ERROR', error: 'apiKey required' } }];\nconst name = storeName || displayName;\nif (!name) return [{ json: { status: 'ERROR', error: 'storeName or displayName required' } }];\nreturn [{ json: { apiKey, displayName: name } }];"
      },
      "id": "Validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/fileSearchStores?key={{$json.apiKey}}",
        "responseFormat": "json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"displayName\": \"{{ $json.displayName }}\" }",
        "options": {}
      },
      "id": "Http Request",
      "name": "Create Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "notes": "Creates a new File Search store using the new fileSearchStores endpoint"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const res = $json;\nif (res.statusCode && res.statusCode >= 400) {\n  return [{ json: { status: 'ERROR', error: `Gemini returned ${res.statusCode}`, body: res.body || res } }];\n}\nconst storeData = res.body || res;\nconst storeId = storeData.name;\nreturn [{ json: { status: 'SUCCESS', storeId: storeId, storeName: storeData.displayName, store: storeData } }];"
      },
      "id": "Return",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook /kb-create-store": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Create Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Store": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
