demo/expand health/v2/workflows/support-form-with-attachments.json
{
  "name": "Support Form with Attachments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-form",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "support-form"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-attachment",
              "leftValue": "={{ $json.body.attachment }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "Has Attachment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst attachment = body.attachment;\n\n// Convert base64 to binary buffer\nconst binaryData = Buffer.from(attachment.data, 'base64');\n\nreturn {\n  json: {\n    facilityName: body.facilityName,\n    email: body.email,\n    messageType: body.messageType,\n    message: body.message,\n    submittedAt: body.submittedAt,\n    page: body.page,\n    attachmentFilename: attachment.filename,\n    attachmentMimetype: attachment.mimetype\n  },\n  binary: {\n    file: {\n      data: binaryData.toString('base64'),\n      mimeType: attachment.mimetype,\n      fileName: attachment.filename\n    }\n  }\n};"
      },
      "id": "code-node",
      "name": "Convert Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "channelId": {
          "__rl": true,
          "value": "C0A5F9H1HT5",
          "mode": "id"
        },
        "binaryPropertyName": "file",
        "options": {
          "initialComment": "=📎 *New Support Request with Attachment*\n\n*From:* {{ $json.email }}\n*Facility:* {{ $json.facilityName }}\n*Type:* {{ $json.messageType }}\n*Page:* {{ $json.page }}\n*Time:* {{ $json.submittedAt }}\n\n*Message:*\n{{ $json.message }}"
        }
      },
      "id": "slack-upload-node",
      "name": "Slack - Upload File",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [910, 200],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-requests",
          "mode": "name"
        },
        "text": "=📬 *New Support Request*\n\n*From:* {{ $json.body.email }}\n*Facility:* {{ $json.body.facilityName }}\n*Type:* {{ $json.body.messageType }}\n*Page:* {{ $json.body.page }}\n*Time:* {{ $json.body.submittedAt }}\n\n*Message:*\n{{ $json.body.message }}",
        "options": {}
      },
      "id": "slack-message-node",
      "name": "Slack - Send Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [690, 400],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has Attachment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachment?": {
      "main": [
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "Slack - Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
